<nav class="grey darken-3">
    <div class="nav-wrapper container">
        <a class="brand-logo center">Helewcial</a>
        <a data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/posts"><strong>Posts</strong></a></li>
            <li><a href="/dashboard"><strong>Dashboard</strong></a></li>
            <li><a href="/auth/logout"><strong>Logout</strong></a></li>
        </ul>
    </div>
</nav>