<h3>Edit Post</h3>
<div class="row">
    <form action="/posts/edit/{{post._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" id="PUT">

        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{post.title}}" required>
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Type Your Post:</h5>
                <textarea id="body" name="body" required>{{post.body}}</textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn teal-lighten-4">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>